root {
    display: block;
}

.root {
     -fx-background-image: url("background.jpg");
}

#welcome-title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

Label {
   -fx-font-size: 16px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
}

#actiontarget {
    -fx-text-fill: #ff0000;
}

Button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-size: 80 50;
}

Button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}